<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Student</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='StudentDash.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
</head>

<body>
    <div class="sidenav">
        <br><br>
        <div class="card"><img src="{{details}}" style="width:205px; height: 250px;"></div>
        <div style="margin: 6.5rem -1rem;">
            <a href="#">Upcoming Quiz</a>
            <a href="http://127.0.0.1:5000/student/StartQuiz" onclick="return popitup('http://127.0.0.1:5000/student/StartQuiz')">Start Quiz</a>
            <a href="#">View Results</a>
            <a href="http://127.0.0.1:5000/logout">Logout</a>
        </div>
    </div>>

</body>

<script language="javascript" type="text/javascript">
    function popitup(url) {
        newwindow = window.open(url, 'name', 'height=11000,width=11000');
        if (window.focus) {
            newwindow.focus()
        }
        return false;
    }
</script>

</html>