<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Teacher</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='TeacherDash.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
</head>

<body>
    <div class="top">

        <ul>
            <li style="float:left;"><a href="http://127.0.0.1:5000/teacher">Home</a></li>
            <li style="float: left;"><a href="#about">About</a></li>
        </ul>
    </div>
    <div class="sidenav">
        <br><br>
        <div class="card"><img src="{{details}}" style="width:205px; height: 250px;"></div>
        <div style="margin: 6.5rem -1rem;">
            <a href="http://127.0.0.1:5000/teacher/Qcreate">Create Quiz</a>
            <a href="#">View Report</a>
            <a href="http://127.0.0.1:5000/logout">Logout</a>
        </div>
    </div>
    <div class="Card1">
        {% for i in range (0,n): %} {% if data: %}
        <label><p style="display: inline-block;">Quiz Code: {{data[i]['code']}}</p></label><br>
        <label><p style="display: inline-block;">Subject: {{data[i]['subject']}}</p></label><br>
        <label><p style=" display: inline-block;">Title: {{data[i]['title']}}</p></label><br>
        <label><p style=" font-size:18px;display: inline-block;">No. of Questions: {{data[i]['questions']}}</p></label><br>
        <label><p style=" font-size:18px;display: inline-block;">Schduled On: {{data[i]['date']}} {{data[i]['start_time']}}</p></label><br>
        <label><p style=" font-size:18px;display: inline-block;">Duration: {{data[i]['duration']}}</p></label><br>
        <form action="teacher/Modify"><input id="modify" type="hidden" name="modify" value="{{data[i]['code']}}">
            <button type=submit>Modify</button></form>{% endif %} {% endfor %}
    </div>
    <div class="err_msg" style="text-align: center;">{{ msg }}</div>
</body>

</html>
