{% extends 'base.html' %}

{% block head %}
<title>Face Detection</title>
<script type="text/javascript" src="{{ url_for('static', filename='events.js') }}"></script>
{% endblock %}

{% block body %}
<p id="canSee"></p>

<p id="violation"></p>
<p id="faces"></p><br>
<p id="mobile"></p><br>
<p id="person"></p><br>
<p id="eye"></p><br>
<p id="face_oreintation"></p><br>
<p id="correct_person"></p><br>
<input type="button" id="startButton" value="Start app"></br>
<input type="button" id="endExamButton" value="End exam">

<form action = "/view_report" method="POST">
    <input type="submit" id="viewExamButton" value="view report" style="display: none;">
</form>

<script type="text/javascript">
    var count = 0;

    function showViewButton()
    {
        var x = document.getElementById("#viewExamButton");
        $("#viewExamButton").show();
        $("#endExamButton").hide();
    }
    $(document).ready(function(){
        var socket = io.connect('http://127.0.0.1:5000/')

        console.log(socket);
        //console.log(document.visibilityState);

        document.addEventListener('visibilitychange', function(e) {
        if(document.hidden == false)
        {
            count = count + 1;
            document.getElementById("canSee").innerHTML = "Number of times application switched: " + count;
        }
        });

        socket.on('detect_person_mobile',function(person, mobile, correct_person){
           document.getElementById("mobile").innerHTML = "Number of Mobiles: " + mobile;
           document.getElementById("person").innerHTML = "Number of Persons: " + person;
           document.getElementById("correct_person").innerHTML = "Correct Person: " + correct_person;
        });



        socket.on('violation',function(faces, eye, face_orinetation){
            console.log(face_orinetation)
            console.log(eye)
            document.getElementById("faces").innerHTML = "Number of Faces: " + faces;
            document.getElementById("face_oreintation").innerHTML = "Face Oreintation: " + face_orinetation;
            document.getElementById("eye").innerHTML = "Eye Direction: " + eye;
        });

        socket.on('number_of_violation', function(no_violation){
            document.getElementById("violation").innerHTML = "Number  Of Violations Performed: " + no_violation;
        });

        $("#startButton").on('click',function(){
            socket.emit('violation')
        });

        $('#endExamButton').on('click',function(){
            socket.emit('close_camera');
            showViewButton();
        });

    });
</script>

<h1>Face detect</h1>
{% endblock %}