{% extends 'base.html' %}

{% block head %}
<title>Face Detection</title>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
<script type = "text/javascript" src = "https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

{% endblock %}

{% block body %}
<p id="message"></p><br>
<input type="button" id="startButton" value="Start app">

<script type="text/javascript">
    $(document).ready(function(){
        var socket = io.connect('http://127.0.0.1:5000/')
        
        socket.on('yolo_event',function(msg){
           document.getElementById("message").innerHTML = "Number of faces: " + msg;
        });

        $("#startButton").on('click',function(){
            socket.emit('yolo_event');
        });
        
    });
</script>

<h1>Face detect</h1>
{% endblock %}