{% extends 'base.html' %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/login.css') }}">
    <script src="{{url_for('static', filename='JS/login.js')}}"></script>
{% endblock %}
</head>

{% block body %}
<!-- Navigation Bar -->

<header>
    <div class="container">
        <nav>
            <ul>
                <li><a href="/">homepage</a></li>
            </ul>
        </nav>
    </div>
</header>

    <div class="LoginForm">
        <img src="{{ url_for('static', filename='homepage_images/login.JPG') }}">
        <form name="homePageForm" onsubmit="validateForm()"  action="/login" method="POST">
    
            <input type="email" id="email" name="email" placeholder="Enter E-mail Id">
            <p class="err_msg" id="email_info"> </p>
            
            <input type="password" id="password" name="password" placeholder="Enter Passoword">
            <p class="err_msg" id="password_info"> </p>
            
            <div class="radio-button">
                <li>
                <label for="teacher">TEACHER</label>
                <input type="radio" name="category" id="teacher" value="teacher">
                </li>
                <li>
                <label for="student">STUDENT</label>
                <input type="radio" name="category" id="student" value="student">
                </li>
            </div>

            
            <p class="err_msg" id="category_info"></p>
            
            <div class="buttons">
                <input id="login" type="submit" value="Log In">
                <input type="button" onclick="location.href='/register'" value="Register">
            </div>
            
            <div class="err_msg">
                {{ msg }}
            </div>
            
        </form>
    </div>
    <!-- <script type="text/javascript" src="{{ url_for('static', filename='JS/HomePage.js') }}"></script> -->

{% endblock %}
