{% extends 'base.html' %}

{% block head %}
    <title>Quiz Created</title>
{% endblock %}

{% block body %}
    <table class="record-table">
        <thead>
          <tr>
              <th>Quiz Code</th>
              <th>Exam Title</th>
              <th>Branch</th>
              <th>Semester</th>
              <th>Subject</th>
              <th>Date</th>
              <th></th>
          </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
    <script>
        printRecords();
        function printRecords()
            {
            console.log("Print Records");
                $(".record-table tbody").children().remove();
                $.ajax({
                    url: "/get_quiz_details",
                    type:"POST",
                    success: function(data)
                    {
                        var j = 1;
                        for(var key in data)
                        {
                            $(".record-table tbody").append("<tr><td>" + data[key]['quiz_code'] + "</td><td>" + data[key]['title'] + "</td><td> " + data[key]['branch'] + "</td><td>" + data[key]['sem'] + "</td><td>" + data[key]['subject'] + "</td><td>" + data[key]['date'] + "<button id=" + j + "> View Report </button>" + "</td></tr>" );
                            ++j;
                        }

                    }
                });
            }
    </script>
{% endblock %}