<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Quiz</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='Quiz.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
</head>

<body>
    <div class="top">

        <ul>
            <li style="float:left;"><a href="http://127.0.0.1:5000/teacher">QUIZ</a></li>
            <li style="margin: -5rem 80rem;">
                <a href="http://127.0.0.1:5000/logout"><input type="button" value="Logout" name="logout"></a>
            </li>

        </ul>
    </div>
    <div class="Form">
        <form name="QuizForm" onsubmit="return validateForm()" action="Quiz" enctype="multipart/form-data" method="POST">
            <div class="err_msg" style="text-align: center;">{{ msg }}</div>
            <div class="err_msg" style="text-align: center;">{{ mg }}</div>

            <label for="qno">
                <p style=" display: inline-block;">Question No. : </p>
            </label><br>
            <select id="qno" name="qno" style="float:right;margin:-2.9rem -1.5rem ;">
                {% for i in range (1,n+1): %}
                <option value="{{i}}">{{i}}</option>
                {% endfor %}
            </select><br>

            <label>
                <p style=" display: inline-block;">Question :</p>
            </label><br>
            <input type="text" id="question" name="question"><br>

            <label>
                <p style=" display: inline-block;">Image <span style="color:red;">(optional)</span> : :</p>
            </label><br>
            <input type="file" id="image" name="image" accept="image/*" multiple size="1"><br>

            <label>
                <p>Option 1 :</p>
            </label>
            <input style="float:right;margin:-2.9rem -1rem ;" type="text"  name="option_1"><br>

            <label>
                <p>Option 2 :</p>
            </label>
            <input style="float:right;margin:-2.9rem -1rem ;" type="text" name="option_2"><br>

            <label>
                <p>Option 3 :</p>
            </label>
            <input style="float:right;margin:-2.9rem -1rem ;" type="text" name="option_3"><br>

            <label>
                <p>Option 4 :</p>
            </label>
            <input style="float:right;margin:-2.9rem -1rem ;" type="text" name="option_4"><br>


            <label for="answer">
                <p style=" display: inline-block;">Answer :</p>
            </label><br>
            <select id="answer" name="answer" style="float:right;margin:-2.9rem -1rem ;">
                <option value="select">Select</option>
                <option value="1">Option 1</option>
                <option value="2">Option 2</option>
                <option value="3">Option 3</option>
                <option value="4">Option 4</option>

            </select><br>

            <a href="http://127.0.0.1:5000/teacher"><input id="submit" type="button" value="Submit" name="submit"></a>
            <input style="margin: 0.6rem 0.7rem;" type="submit" value="Next Question" name="next">
            <br><br>




        </form>
    </div>
</body>

</html>