{% extends 'base.html' %}

{% block head %}
<title>Quiz Created</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{{ url_for('static', filename='quizreport.css') }}">
{% endblock %}

{% block body %}
    <table class="record-table">
        <thead>
          <tr>
              <th>Quiz Code</th>
              <th>Exam Title</th>
              <th>Branch</th>
              <th>Semester</th>
              <th>Subject</th>
              <th>Date</th>
              <th>Report</th>
          </tr>
        </thead>
        {% for i in range (0,n): %} {% if data: %}
        <tbody>
            <td>{{data[i]['code']}}</td>
            <td>{{data[i]['title']}}</td>
            <td>{{data[i]['branch']}}</td>
            <td>{{data[i]['sem']}}</td>
            <td>{{data[i]['subject']}}</td>
            <td>{{data[i]['date']}}</th>
            <td> <form action="/quiz_report" method="POST"><input id="report" type="hidden" name="report" value="{{data[i]['code']}}">
                <input id="branch" type="hidden" name="branch" value="{{data[i]['branch']}}">
                <input id="sem" type="hidden" name="sem" value="{{data[i]['sem']}}">
                <input type="submit" value="View" name="View Report"></form></td>
        </tbody>
        {% endif %} {% endfor %}
    </table>
{% endblock %}