{% extends 'base.html' %}
    {% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/register.css') }}">
    {% endblock %}
</head>

{% block body %}
    <header>
        <div class="container">
            <nav>
                <ul>
                    <li>
                        <a href="/">homepage</a>
                    </li>
                </ul>
            </nav>
            
        </div>
    </header>

    <section class="cards-container">
        <div class="card">
            <div class="card-img" >
                <a href='http://127.0.0.1:5000/Register/TeacherSignUp'>
                    <img src="{{ url_for('static', filename='homepage_images/teacher.png') }}">
                </a>
            </div>
            <div class="card-name" >
                <a href='http://127.0.0.1:5000/Register/TeacherSignUp' >
                    <h3 >Teacher</h3>
                </a>
            </div>
        </div>

        <div class="card">
            <div class="card-img" >
                <a href='http://127.0.0.1:5000/Register/StudentSignUp'>
                    <img src="{{ url_for('static', filename='homepage_images/student.png') }}">
                </a>
            </div>
            <div class="card-name">
                <a href='http://127.0.0.1:5000/Register/StudentSignUp'>
                    <h3>Student</h3>
                </a>
            </div>
        </div>

{% endblock %}