<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Response Submitted</title>
</head>
<body>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
<script>
        closeCamera();
        function closeCamera()
            {

                    $.ajax({
                        url: "/camera_close",
                        type: "POST",
                        timeout:3000
                    });
            }
        
        calculatescore();
        function calculatescore()
        {
            $.ajax({
                url: "/calculate_score",
                type: "POST",
            });
        }

    setTimeout(function(){window.close();},3000);

</script>
<p> Quiz Submitted Successfully</p>
</body>
</html>