<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='StartQuiz.css') }}">
</head>

<body>
    <div class="LoginForm">
        <form name="quizloginForm" onsubmit="return validateForm()" action="StartQuiz" method="POST">
            <div class=" bg-indigo-400 rounded-t-md"></div>
            <div class="EmailId">
                <label for="code"><p>Quiz Code</p></label>
                <input type="text" id="code" name="code">
                <p class="err_msg" id="code_info"> </p>
            </div>
            <div class="err_msg" style="text-align: center;">{{ msg }}</div>
            <div class="Buttons">

                <input id="start" type="submit" value="Start Quiz"><br>
            </div>
        </form>
    </div>
    <script type="text/javascript" src="{{ url_for('static', filename='StartQuiz.js') }}"></script>
</body>

</html>