body {
    background-color: #d5fefd;
    background-image: linear-gradient(90deg, #d5fefd 74%, #fffcff);
    background-size: 100%;
    height: 100%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: linear-gradient(315deg, #145048 30%, #1e3b70 74%);
    border-radius: 5px;
}

li {
    float: left;
}

li a {
    display: block;
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background: #0d253a;
}

.card {
    margin: 10rem 30rem;
    box-shadow: 0 10px 19px 0 rgba(59, 59, 59, 0.342);
    transition: 0.3s;
    width: 300px;
    border-radius: 10px;
    background-color: #7ee8fa;
    background-image: linear-gradient(315deg, #7ee8fa 0%, #80ff72 74%);
}

.card:hover {
    box-shadow: 0 8px 20px 0 rgb(36, 36, 36);
    background: linear-gradient(315deg, #c373f2, #36D1DC);
}

.container {
    padding: 30px 16px;
}

.card1 {
    margin: -37.3rem 50rem;
    box-shadow: 0 10px 19px 0 rgba(59, 59, 59, 0.342);
    transition: 0.3s;
    width: 300px;
    border-radius: 10px;
    background-color: #7ee8fa;
    background-image: linear-gradient(315deg, #7ee8fa 0%, #80ff72 74%);
}

.card1:hover {
    box-shadow: 0 8px 20px 0 rgb(36, 36, 36);
    background: linear-gradient(315deg, #c373f2, #36D1DC);
}

.Buttons {
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
}

p {
    font-size: 23px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    color: #2b2424;
    text-align: center;
}

a {
    font-size: 15px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    color: #385bcf;
    text-align: center;
    display: block;
    text-decoration: none;
}