body {
    background-color: #f6f6f6;
    background-image: linear-gradient(315deg, #f6f6f6, #e9e9e9);
    background-size: auto
}

ul {
    list-style-type: none;
    margin: -0.6% 15.2%;
    padding: 8px;
    width: 80.05rem;
    overflow: hidden;
    background: linear-gradient(315deg, #145048 30%, #1e3b70 74%);
    border-radius: 0px;
}

li {
    float: left;
}

li a {
    display: block;
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background: linear-gradient(270deg, #eec0c6, #a6a80d);
    color: #192036;
    font-weight: bold;
}

 ::placeholder {
    color: rgb(0, 0, 0);
}

.sidenav {
    height: 150vh;
    width: 15rem;
    position: fixed;
    z-index: 1;
    top: 0%;
    left: 0%;
    background: linear-gradient(315deg, #145048 30%, #1e3b70 74%);
    overflow-x: hidden;
    font-family: 'Raleway', sans-serif;
}

.sidenav a {
    padding: 15px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #ffffff;
    display: block;
}

.sidenav a:hover {
    background-color: #89d4cf;
    background-image: linear-gradient(315deg, #89d4cf 0%, #6e45e1 74%);
    font-weight: bolder;
}

p {
    font-size: 15px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    color: #192036;
}

.card {
    margin: -1rem 1rem;
    transition: 0.3s;
    width: 300px;
    border-radius: 10px;
}

.Card1 {
    width: 650px;
    position: absolute;
   
    left: 23%;
  
    text-align: left;
    opacity: 1;
}

button[type="submit"] {
    border: 0;
    background: none;
    display: block;
    margin: 1rem 10rem;
    width: 150px;
    text-align: center;
    font-weight: bolder;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 10px;
    background-image: linear-gradient(90deg, #6617cb, #cb218e 50%);
    background-size: 400%;
}

button[type="submit"]:hover {
    font-size: 16px;
    color: rgb(255, 255, 255);
    background-color: #045de9;
    background-image: linear-gradient(90deg, #045de9 0%, #09c6f9 50%);
}