body{
    background : rgb(255, 255, 255);
    background-size:100%;
    max-width: 100%;
    overflow-x: hidden;
  }
  
   
  ul {
    list-style-type: none;
    margin: -2px ;
    width:93.4rem;
    padding: 0px 0px 0px 1px;
    overflow: hidden;
    background-color: #05e8ba;
background-image: linear-gradient(315deg, #05e8ba , #066823) ;

    border-radius: 4px;
    position:fixed;
    height: 60px;
    left:-11rem;
    top: 3.5rem;
    
    
    }
    
    li {
    float: left;
    }
    
    li a {
    display: block;
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-size: 2.3rem;
    padding: 14px 16px;
    text-decoration: none;
    }
    
    
  
  

  p{
    font-size: 19px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    color: #192036;
  }

  p1{
    font-size: 19px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    color: #ffffff;
  }
  p2{
    font-size: 19px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    color: #192036;
    
  }
  
  .Form
{
  width:600px;
  height: 100px;
padding: 40px;
position: absolute;
top: 6%;
left: 35%;
transform: translate(-50%,-50%);
background: #ffffff;
text-align: left;
border-radius: 0px ;
opacity:0.95;


}
.err_msg
{
  color:#f75c5c;
  font-family: 'Raleway', sans-serif;
  font-size:15px;
  font-weight: bold;
}

input[type=text]
{

background:  #ffffff ;
display: block;
text-align: left;
font-family: 'Raleway', sans-serif;
font-size: 18px;
font-weight: 1000;
border: 1px solid #535c5c;
padding: 9px;
width: 35rem;
outline: none;
color: rgb(41, 38, 38);
border-radius: 4px;

}


input[type = "text"]:focus
{
border-color: #0e7cd6 ;
text-align: left;

}


input[type=radio] {
  border: 0px;
  accent-color: rgb(255, 0, 128);
  height:1rem ;
  
}




#answer{
    background:  #ffffff ;
    display: block;
    text-align: left;
    font-family: 'Raleway', sans-serif;
    font-size: 17px;
    font-weight: 1000;
    border: 1px solid #535c5c;
    padding: 10px;
    width: 28rem;
    outline: none;
    color: rgb(41, 38, 38);
    border-radius: 4px;
  }

  #answer:focus{
    border-color: #0e7cd6;
  }
  

  input[type = "submit"]
{
    margin-top: -0.3rem;
    margin-left: 20rem;
    background-image: linear-gradient(90deg, #6617cb , #cb218e  );
    display: block;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 1000;
    padding: 11px;
    width: 7rem;
    color: rgb(255, 255, 255);
    border-radius: 4px;
    float: right;
  border-color: #6617cb ;
}
input[type = "submit"]:hover
{
  border-color: #1316db ;
  font-size: 20px;
  background-image: linear-gradient(90deg, #1316db , #09c6ff );

}



#option{
  background:  #ffffff ;
  display: block;
  
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 1000;
  border: 1px solid #535c5c;
  padding: 9px;
  width: 28rem;
  outline: none;
  color: rgb(41, 38, 38);
  border-radius: 4px;  
}

#option:focus{
  border-color: #0e7cd6;  
}

#next
{
    background:#0e7cd6 ;
    display: block;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 1000;
    border: 1px solid ;
    padding: 14px;
    width: 7rem;
    outline: none;
    color: rgb(255, 255, 255);
    border-radius: 4px;
    text-decoration: none;

}

#next:hover
{
 background-color: rgb(9, 209, 9);
 text-decoration: none;
}

#previous{
    background:#0e7cd6 ;
    display: block;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 1000;
    border: 1px solid ;
    padding: 14px;
    width: 10rem;
    outline: none;
    color: rgb(255, 255, 255);
    border-radius: 4px;
    text-decoration: none;
    float:right
}

#previous:hover
{
 background-color: rgb(9, 209, 9);
}
.Card1 {
  width: 230px;
  height: 625px;
  padding: 30px;
  position: absolute;
  margin:14.5rem 70.8rem;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  box-shadow: #686868d3 0px 7px 10px 0px;
  border-radius: 3px;
  
  text-align: left;
  
  opacity:1;
  
}
input[type="button"] {
  width: 50px;
  height: 50px;
  font-weight: bolder;
  font-family: 'Raleway', sans-serif;
  
  font-size: 19px;
  margin-top: 2rem;
  color: rgb(10, 10, 10);
  border-radius: 10rem;
  background: white;
 
}

input[type="button"]:hover {
  font-size: 19px;
  color: rgb(51, 50, 50);
  border-color:#045de9;
  background-color: #045de9;
  background-image: linear-gradient(90deg, #045de9 0%, #09c6f9 50%);


}